.footer {
	background-color: #39649d;
	padding: 63px 0 30px;
	.logo {
		padding: 0;
	}
	
	.nav__item {
		padding: 0;
		margin-right: 75px;
		
		&:last-child {
			margin-right: 0;
		}
	}

}

.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;

	padding-bottom: 50px;
	position: relative;
	
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #335b91;
		
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.nav--footer {
	.nav__link {
		font-weight: 500;
	}
}


.footer__info {
	padding: 35px 0;
	text-align: center;
	font-size: 14px;
	color: #e3e7f2;

}

.footer__redsoft {
	color: #e70067;
	padding-left: 10px;
}