@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/subset-CeraRoundPro-Regular.woff2') format('woff2'),
        url('../fonts/subset-CeraRoundPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/subset-CeraRoundPro-Light.woff2') format('woff2'),
        url('../fonts/subset-CeraRoundPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/subset-CeraRoundPro-Bold.woff2') format('woff2'),
        url('../fonts/subset-CeraRoundPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/subset-Geometria-Medium.woff2') format('woff2'),
        url('../fonts/subset-Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/subset-CeraRoundPro-Medium.woff2') format('woff2'),
        url('../fonts/subset-CeraRoundPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

