section.access
	.container
		h2.title.access__title Получите бесплатный доступ к «Дневнику здоровья»
		p.access__descr Оставьте свою электронную почту и вы узнаете о запуске данного сервиса первым!
		form.access__form
			input(type="text" placeholder="Ваш E-mail").access__input
			button.access__btn.btn Отправить