section.diary
	.diary__container
		h2.title.diary__title Что такое «Дневник здоровья»?
		.diary__content
			p.diary__descr Дневник пациента — это удобный онлайн-сервис:
			ul.diary__list
				li.diary__item Вносите результаты измерений вручную или с помощью интегрированных приборов
				li.diary__item Ведите персональную медицинскую карту с историей ваших измерений 
				li.diary__item Делитесь результатами измерений со специалистами для повышения эффективности лечения
				li.diary__item Получайте рекомендации, созданные специально для вас
			
			button(type='button').btn.diary__btn Оставить заявку