footer.footer
	.container
		.footer__row
			.logo
				+image('logo-footer.png', 'logo footer', 'logo__img logo__img--footer')
			nav.nav.nav--footer
				ul.nav__list
					li.nav__item
						a(href="#").nav__link О сервисе
					li.nav__item
						a(href="#").nav__link Функции
					li.nav__item
						a(href="#").nav__link Возможности
					li.nav__item
						a(href="#").nav__link Специалистам 
					li.nav__item
						a(href="tel:88005004549").nav__link 88005004549
		p.footer__info Разработка сайта
			span.footer__redsoft Redsoft