section.functions
	.container
		h2.title.functions__title Функции приложения
		ul.functions__list
			li.functions__item
				.functions__img-wrap
					+image('functions/pills.png','functions icon', 'functions__img')
				.functions__text Планирование графика приема лекарств
			li.functions__item
				.functions__img-wrap
					+image('functions/siren.png','functions icon', 'functions__img')
				.functions__text Уведомление врача об исполнении назначений
			li.functions__item
				.functions__img-wrap
					+image('functions/health.png','functions icon', 'functions__img')
				.functions__text Ведение дневника самочувствия
			li.functions__item
				
				.functions__img-wrap
					+image('functions/smartwatch.png','functions icon', 'functions__img')
				.functions__text Удаленное предоставление измерений врачу
			li.functions__item
				
				.functions__img-wrap
					+image('functions/conversation.png','functions icon', 'functions__img')
				.functions__text Общение с врачами через встроенный мессенджер
			li.functions__item
				.functions__img-wrap
					+image('functions/facebook.png','functions icon', 'functions__img')
				.functions__text Получение уведомлений для выполнения назначений
			