header.header
	.container
		.logo
			+image('logo.png', 'logo header', 'logo__img')
		nav.nav
			ul.nav__list
				li.nav__item
					a(href="#").nav__link О сервисе
				li.nav__item
					a(href="#").nav__link Функции
				li.nav__item
					a(href="#").nav__link Возможности
				li.nav__item
					a(href="#").nav__link Партнеры
					
		a.header__request(href="#") Оставить заявку
					