section.monitoring
	.container
		h2.title.monitoring__title Ведите персональный дневник мониторинга здоровья
		ul.monitoring__list
			li.monitoring__item
				h3.monitoring__item-title Хранение данных
				p.monitoring__descr Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты измерений медицинских показателей вручную или с помощью интегрированных приборов, храните историю измерений и отслеживайте динамику состояния здоровья
			li.monitoring__item
				h3.monitoring__item-title Сообшение информации врачу
				p.monitoring__descr Позвольте специалисту дистанционно следить за вашим здоровьем. Будьте на связи со специалистом - отправляйте информацию о своем самочувствии, обменивайтесь сообщениями и получайте рекомендации по вашему здоровью и лечению.
			li.monitoring__item
				h3.monitoring__item-title Напоминание о важном
				p.monitoring__descr Получайте рекомендации, созданные специально для вас. Система, персонально настроенная под ваши требования, автоматически напомнит о необходимости выполнить рекомендации медицинского специалиста: принять препарат или выполнить измерения.