.promo
	include header.pug
	
	ul.promo__slider
		li.promo__slide.active
		
			h1.promo__title Расширяем возможности предоставления качественных медицинских услуг
			p.promo__descr «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».
			button(type='button').btn.promo__btn Узнать больше
		li.promo__slide
		
			h2.promo__title Следить за здоровьем станет проще
			p.promo__descr Скоро вы сможете находиться на связи со своим лечащим врачом независимо от своего местоположения, вести дневник мониторинга самочувствия, получать рекомендации по плану лечения и многое другое.
			button.btn.promo__btn(type="button") Узнать больше
			
	
	ul.promo__slider-btn
		li.promo__slide-btn.active 
		li.promo__slide-btn
	