section.specialist
	+image('diagramm.png', 'specialist image', 'specialist__img')
	.specialist__container
		h2.title.specialist__title Специалистам
		ul.specialist__list
			li.specialist__item Дистанционный контроль состояния здоровья ваших пациентов
			li.specialist__item Наблюдение за динамикой изменения основных медицинских показателей 
			li.specialist__item Наличие алгоритмов автоматического анализа поступающей информации
			li.specialist__item Индивидуальная система уведомлений об изменении состояния каждого пациента
			li.specialist__item Дополнительный сервис коммуникации, позволяющий активно вовлекать пациента в процесс профилактики, лечения и реабилитации.

	
